*{
	margin : 0;
	padding: 0;
	box-sizing: boder-box;
	font-family: 'Poppins',sans-serif;
}
body {
	min-height: 100vh;
	background: #ffffff;
}

.navigation {
	position: fixed;
	width: 100px;
	height: 100%;
	background: #3c8dbc;
	transition: 0.5s;
	overflow : hidden;
}

.navigation:hover {
	width: 300px;
}

.navigation ul{
	position: absolute;
	top: 0;
	left: 0;
	width: 70%
}
.navigation ul li{
	position: relative;
	width: 100%;
	list-style: none;
}

.navigtion ul li:hover{
	background: #80ff80
}

.navigtion ul a{
	background: #367fa9;
	position: relative;
	display: flex;
	width: 100%;
	text-decoration: none;
	color: #ffffff;
}

.navgation ul li a .icon{
	position: relative;
	display: block;
	min-width: 60px;
	height: 60px;
	line-height: 60px;
	text-align: center;
}

.navgation ul li a .icon .fa{
	font-size: 24px;
}

.navgation ul li a .title{
	position: relative;
	display: block;
	padding: 0 10px;
	height: 60px;
	line-height: 60px;
	text-align: start;
	white-space: nowrap;
}